@import "../../static/additional";

.title {
    @include TabAnchorName;
    text-align: center;
    margin: 0;
}

.about {
    @include InputRegularText;
    margin: 0;
}

.link {
    @include InputRegularText;
    color: $EstiminTextLogoColor;
    margin-top: 20px !important;
}