@import "../../static/additional";

.wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    width: 100%;

    .title {
        display: flex;
        width: clamp(768px, 90vw, 1555px);
        justify-content: space-between;
        align-items: flex-end;
        gap: 50px;
        padding-bottom: 10px;
        position: relative;
        @include TabAnchorName;
        p {
            font-size: 36px;
            font-weight: 700;
            margin: 0;
        }
        .back {
           @include BackBtn;
        }

        &::after {
            content: '';
            display: block;
            width: clamp(768px, 90vw, 1555px);
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $EstiminUnderlineColor;
            border-radius: 2px;
        }
    }
    .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
        max-width: 1555px;
    
        .grid__header {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: minmax(200px, 470px) minmax(110px, 220px) repeat(3, minmax(110px, 280px)) minmax(80px, 110px);
            gap: 0px;
            height: 100%;
            .header__element {
                @include TabAnchorName;
                display: flex;
                height: 60px;
                align-items: center;
                justify-content: center;
                user-select: none;
                padding: 0px 10px;
                &:first-child {
                    justify-content: flex-start;
                    padding-left: 27px;
                }
                p{
                    margin: 0;
                }
                .sorter {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2px;
                    margin-right: 8px;

                    img {
                        &:nth-child(1) {
                            transform: rotate(180deg);
                            margin-right: 0.7px;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .grid__body {
            .grid-row {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: minmax(200px, 470px) minmax(110px, 220px) repeat(3, minmax(110px, 280px)) minmax(80px, 110px);
                gap: 0px;
                height: 100%;
                flex-direction: column;
                &:nth-child(odd) {
                    background-color: #F4F4F4;
                }

                &:last-child {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                .grid-column {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 60px;
                    @include TabText;
                    box-sizing: border-box;

                    &.name {
                        justify-content: flex-start;
                        padding-left: 27px;
                    }
                    &.cancel {
                        color: $EstiminSaturate-8;
                        opacity: .4;
                        text-decoration: underline;
                        transition: .3s;
                        &:hover {
                            transition: .3s;
                            opacity: .9;
                        }
                    }
                    &.status {
                        position: relative;

                        &::before {
                            content: '';
                            display: block;
                            width: 10px;
                            height: 10px;
                            background-color: $EstiminBlank;
                            border-radius: 100%;
                            position: absolute;
                            left: 25px;
                            top: 45%;
                        }

                        &.active::before {
                            background-color: $EstiminSuccessful;
                        }

                        &.closed::before {
                            background-color: $EstiminClosed;
                        }

                        &.deleted::before {
                            background-color: $EstiminDeleted;
                        }
                        &.stoped::before {
                            background-color: $EstiminStoped;
                        }
                    }
                    p {
                        margin: 0;
                        padding: 0px 5px;
                    }
                }
            }
        }
    }
    .history-duration-alert {
        @include TabText;
        opacity: .5;
        margin-top: 15px;
        user-select: none;
    }
}