@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  -webkit-user-drag: none;
}

a,
button {
  cursor: pointer;
}

body,
html {
  margin: 0;
  padding: 0;
}

body.fixated {
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #F4F4F4;
}

*::-webkit-scrollbar-track:hover {
  background-color: #F4F4F4;
}

*::-webkit-scrollbar-track:active {
  background-color: #EBE9E9;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #36393E;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #36393E;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #282B30;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: url("../auth/icons/avatar.jpg") no-repeat center/200%;
}

.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
}
.wrap .title {
  display: flex;
  width: clamp(768px, 90vw, 1555px);
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
  padding-bottom: 10px;
  position: relative;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.wrap .title p {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}
.wrap .title .back {
  margin: 0;
  position: relative;
  text-decoration: none;
  color: black;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.wrap .title .back::before {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  background-color: transparent;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  position: absolute;
  top: 35%;
  left: -15px;
  transform: rotate(45deg);
  transition: 0.3s;
}
.wrap .title .back:hover::before {
  transition: 0.3s;
  left: -10px;
}
.wrap .title::after {
  content: "";
  display: block;
  width: clamp(768px, 90vw, 1555px);
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #d6d6d7;
  border-radius: 2px;
}
.wrap .grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  max-width: 1555px;
}
.wrap .grid .grid__header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(200px, 470px) minmax(110px, 220px) repeat(3, minmax(110px, 280px)) minmax(80px, 110px);
  gap: 0px;
  height: 100%;
}
.wrap .grid .grid__header .header__element {
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0px 10px;
}
.wrap .grid .grid__header .header__element:first-child {
  justify-content: flex-start;
  padding-left: 27px;
}
.wrap .grid .grid__header .header__element p {
  margin: 0;
}
.wrap .grid .grid__header .header__element .sorter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  margin-right: 8px;
}
.wrap .grid .grid__header .header__element .sorter img:nth-child(1) {
  transform: rotate(180deg);
  margin-right: 0.7px;
}
.wrap .grid .grid__header .header__element .sorter img:hover {
  cursor: pointer;
}
.wrap .grid .grid__body .grid-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(200px, 470px) minmax(110px, 220px) repeat(3, minmax(110px, 280px)) minmax(80px, 110px);
  gap: 0px;
  height: 100%;
  flex-direction: column;
}
.wrap .grid .grid__body .grid-row:nth-child(odd) {
  background-color: #F4F4F4;
}
.wrap .grid .grid__body .grid-row:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.wrap .grid .grid__body .grid-row .grid-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
}
.wrap .grid .grid__body .grid-row .grid-column.name {
  justify-content: flex-start;
  padding-left: 27px;
}
.wrap .grid .grid__body .grid-row .grid-column.cancel {
  color: #0862a4;
  opacity: 0.4;
  text-decoration: underline;
  transition: 0.3s;
}
.wrap .grid .grid__body .grid-row .grid-column.cancel:hover {
  transition: 0.3s;
  opacity: 0.9;
}
.wrap .grid .grid__body .grid-row .grid-column.status {
  position: relative;
}
.wrap .grid .grid__body .grid-row .grid-column.status::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #cdbfe1;
  border-radius: 100%;
  position: absolute;
  left: 25px;
  top: 45%;
}
.wrap .grid .grid__body .grid-row .grid-column.status.active::before {
  background-color: #8DDE86;
}
.wrap .grid .grid__body .grid-row .grid-column.status.closed::before {
  background-color: #79A5E8;
}
.wrap .grid .grid__body .grid-row .grid-column.status.deleted::before {
  background-color: #E47A74;
}
.wrap .grid .grid__body .grid-row .grid-column.status.stoped::before {
  background-color: #DACE61;
}
.wrap .grid .grid__body .grid-row .grid-column p {
  margin: 0;
  padding: 0px 5px;
}
.wrap .history-duration-alert {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}/*# sourceMappingURL=style.css.map */