@import "../../../static/additional";

.wrap {
    background: url(../../../static/auth/bg/Auth.jpg) no-repeat;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-top: 400px;
    h1 {
        @include MainTitle;
        margin: 0;
    }
    h2 {
        @include InputRegularText;
        margin: 0;
        width: 350px;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-top: 20px;
        label{
            .form__input {
                outline: none;
                border: 0;
                background-color: transparent;
                border-bottom: 1px solid $EstiminUnderlineColor;
                transition: .3s;
                @include InputRegularText;
                &.typing {
                    border-bottom: 1px solid $EstiminAccent;
                }
                &.error {
                    border-bottom: 1px solid $EstiminDeleted;
                }
                &.success {
                    border-bottom: 1px solid $EstiminSuccessful;
                }
                &::placeholder {
                    @include InputRegularText;
                }
            }
        }
        
        .login-button {
            @include Button($EstiminBackground2, white, 155px, 40px);
            &:hover {
                background-color: $EstiminBackground5;
            }
        }
    }
}