@import "../../../../../static/additional";

// button {
//     @include Button($EstiminBackground2, white, 155px, 40px)
// }


.wrap {
    background: url(../../../../../static/auth/bg/Auth.svg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding-left: 100px;
    .logos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 50px;
        gap: 100px;
    }
    .title {
        p {
            margin-bottom: 0;
            user-select: none;
            @include MainTitle;
            &:nth-child(2) {
                display: none;
            }
        }
        
    }
    .subtitle {
        p {
            font-size: 18px;
            font-weight: 400;
            font-family: 'Jost', sans-serif;
            margin: 0px 0px 25px 0px;
            max-width: 700px;
        }
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        .form__input {
            outline: none;
            border: 0;
            background-color: transparent;
            border-bottom: 1px solid $EstiminUnderlineColor;
            transition: .3s;
            @include InputRegularText;
            &.typing {
                border-bottom: 1px solid $EstiminAccent;
            }
            &.error {
                border-bottom: 1px solid $EstiminDeleted;
            }
            &.success {
                border-bottom: 1px solid $EstiminSuccessful;
            }
            &::placeholder {
                @include InputRegularText;
            }
        }
        .action-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                color: $EstiminSaturate-8;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Jost',sans-serif;
                opacity: .4;
                transition: .3s;
                text-decoration: none;
                margin-top: 5px;
                &:hover {
                    transition: .3s;
                    opacity: 1;
                }
            }
            .action-buttons__login-button {
                @include Button($EstiminBackground2, white, 155px, 40px);
                &:hover {
                    background-color: $EstiminBackground5;
                }
            }
        }
    }
}

.wrap.success {
    .title {
        p:nth-child(1) {
            display: none;
        }
        p:nth-child(2) {
            display: block;
            margin-bottom: 0;
        }
    }
    .form {
        .form__input {
            display: none;
        }
        .action-buttons {
            .action-buttons__login-button {
                display: none;
            }
            .action-buttons__forget-password-button {
                opacity: 1;
                font-size: 22px;
                margin-top: 20px;
            }
        }
    }
}

.pop_up {
    width: 210px;
    height: auto;
    padding-bottom: 20px;
    background-color: $EstiminBackground2;
    position: fixed;
    z-index: 5;
    display: none;
    &::after {
        content: "";
        display: block;
        background-color: $EstiminBackground2;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        left: -7px;
        z-index: 2;
    }
    .pop_up__body {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        user-select: none;
        .pop_up__title {
            padding-top: 4px;
            text-align: center;
            h1 {
                @include PopUptTitle;
            }
            h2 {
                @include PopUpText;
            }
        }
        .pop_up__text {
            padding-top: 10px;
            ol {
                list-style-type: none;
                padding-left: 15px;
                @include PopUpText;
                li {
                    position: relative;
                    &::after {
                        content: '';
                        display: block;
                        background-color: white;
                        width: 3px;
                        height: 3px;
                        border-radius: 100%;
                        position: absolute;
                        top: 10px;
                        left: -7px;
                    }
                }
            }
        }
    }
}